* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background-color: #f7f3e3;
}

nav {
  width: 100%;
  height: 60px;
  z-index: 10;
  background-color: #2b2118;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 30px 5px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.7s ease all;
}
nav .logo {
  margin-left: 50px;
  color: #f7f3e3;
  text-decoration: none;
}
nav .hamburger {
  width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 50px;
}
nav .hamburger span {
  width: 80px;
  height: 5px;
  background-color: #f7f3e3;
  transform-origin: 10px;
  transition: 0.7s ease all;
}
nav.active {
  background-color: #b3b6b7;
}
nav.active .hamburger span:first-child {
  background-color: #2b2118;
  transform: rotate(45deg);
}
nav.active .hamburger span:nth-child(2) {
  opacity: 0;
}
nav.active .hamburger span:last-child {
  background-color: #2b2118;
  transform: rotate(-45deg);
}

.topmenu {
  display: flex;
  z-index: 5;
}
.topmenu li {
  list-style: none;
  padding: 0 30px;
  height: 60px;
  transition: 0.2s ease all;
}
.topmenu li:hover {
  background-color: #f7f3e3;
}
.topmenu li:hover a {
  color: #2b2118;
  padding-bottom: 5px;
  border-bottom: 1px #2b2118 solid;
}
.topmenu li a {
  color: #f7f3e3;
  text-decoration: none;
  margin: auto 0;
  line-height: 60px;
}

.sidemenuclass {
  position: relative;
  display: none;
}
.sidemenuclass .sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b3b6b7;
  width: 500px;
  position: fixed;
  top: 150px;
  right: -500px;
  z-index: 10;
  transition: 0.7s ease all;
}
.sidemenuclass .sidemenu.active {
  right: 0;
}
.sidemenuclass .sidemenu li {
  list-style: none;
  height: 250px;
  padding: 0 60px;
  transition: 0.2s ease all;
  font-size: 48px;
}
.sidemenuclass .sidemenu li:hover {
  background-color: #2b2118;
}
.sidemenuclass .sidemenu li:hover a {
  color: #f7f3e3;
  padding-bottom: 5px;
  border-bottom: 1px #f7f3e3 solid;
}
.sidemenuclass .sidemenu li a {
  color: #2b2118;
  text-decoration: none;
  margin: auto 0;
  line-height: 250px;
}

.homePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background: linear-gradient(to bottom, #e3d9c9, #f7f3e3);
}
.homePage .leftBox {
  margin-top: 100px;
  margin-right: 80px;
  z-index: 5;
}
.homePage .leftBox .introCard {
  min-width: 30vw;
  background: #f7f3e3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding: 30px 0;
  color: #af9164;
}
.homePage .leftBox .introCard img {
  width: 250px;
  border-radius: 78% 22% 75% 25%/28% 33% 67% 72%;
  margin: 30px 0;
}
.homePage .leftBox .introCard h1,
.homePage .leftBox .introCard h3 {
  letter-spacing: 2px;
  font-weight: 400;
}
.homePage .leftBox .introCard p {
  border-bottom: 3px solid #df7373;
  width: 50px;
  margin: 20px auto;
}
.homePage .leftBox .introCard .icon {
  margin-top: 20px;
}
.homePage .leftBox .introCard .icon .github,
.homePage .leftBox .introCard .icon .linkedin {
  fill: #2b2118;
  font-size: 25px;
  margin: 10px;
}
.homePage .leftBox .introCard .icon .github:hover,
.homePage .leftBox .introCard .icon .linkedin:hover {
  transform: scale(1.5);
}
.homePage .rightBox {
  color: #2b2118;
  margin-top: 230px;
  z-index: 5;
  width: 40%;
}
.homePage .rightBox h2 {
  margin-bottom: 15px;
  font-weight: 100;
  font-size: 100px;
}
.homePage .rightBox h3 {
  margin-bottom: 15px;
  font-weight: 100;
  font-size: 30px;
}
.homePage .rightBox li {
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #df7373;
  padding-right: 15px;
  padding-left: -10px;
  list-style-type: square;
}
.homePage .waves,
.homePage .waves2 {
  position: absolute;
  height: 150px;
  z-index: 1;
  transform: rotate(180deg);
  right: 0;
  width: 100%;
  bottom: -10px;
  animation: waveMove 3s infinite ease;
  animation-direction: alternate-reverse;
}
.homePage .waves2 {
  animation: wave2Move 3s infinite ease;
  animation-direction: alternate-reverse;
}
@keyframes waveMove {
  0% {
    height: 50px;
    width: 150%;
  }
  50% {
    height: 100px;
    width: 105%;
  }
  100% {
    height: 200px;
    width: 120%;
  }
}
@keyframes wave2Move {
  0% {
    height: 100px;
    width: 100%;
  }
  50% {
    height: 250px;
    width: 125%;
  }
  100% {
    height: 100px;
    width: 110%;
  }
}

.portfolio {
  width: 100%;
  padding-top: 50px;
  background: linear-gradient(to bottom, #e2d9c8, #f7f3e3);
}
.portfolio h1 {
  padding: 50px 0;
  font-weight: 100;
  text-align: center;
  color: #454851;
  margin: auto;
  background: url(../img/titlebg.svg) center/15% no-repeat border-box;
}
.portfolio .projects {
  width: 1000px;
  height: 80vh;
  display: flex;
  margin: 30px auto;
  flex-wrap: wrap;
  overflow-y: scroll;
  box-shadow: #2b2118 0px 0px 0px 2px, #af9164 20px -20px;
}
.portfolio .projects .project {
  width: 45%;
  height: 45%;
  background: #f7f3e3;
  margin: 50px auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.portfolio .projects .project:hover img {
  opacity: 0.5;
}
.portfolio .projects .project:hover .info {
  opacity: 1;
}
.portfolio .projects .project img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease all;
}
.portfolio .projects .project .title-mobile {
  display: none;
}
.portfolio .projects .project .info {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 75px;
  top: calc(50% - 75px);
  opacity: 0;
  border-radius: 5px;
  background-color: #b3b6b7;
  transition: 0.1s ease all;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  color: #454851;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.portfolio .projects .project .info a {
  background-color: #f7f3e3;
  color: #af9164;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 150px;
  margin: auto;
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 5px;
}

.resume {
  background-color: #f7f3e3;
  padding-top: 30px;
}
.resume h1 {
  padding: 50px 0;
  font-weight: 100;
  text-align: center;
  color: #454851;
  margin: auto;
  background: url(../img/titlebg.svg) center/15% no-repeat border-box;
}
.resume .section {
  width: 1000px;
  height: 90vh;
  margin: 30px auto;
  padding: 30px;
  overflow-y: scroll;
  box-shadow: #2b2118 0px 0px 0px 2px, #af9164 20px -20px;
}
.resume .section h3 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}
.resume .section .about {
  margin: 30px 80px;
  font-weight: 300;
}
.resume .section .experience .box {
  width: 800px;
  border-radius: 5px;
  background: #f7f3e3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  margin-bottom: 50px;
  padding: 50px 80px;
  font-weight: 300;
}
.resume .section .experience .box .title {
  border-bottom: #df7373 1px solid;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.resume .section .experience .box .seemore {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 30px;
  margin-top: 10px;
  cursor: pointer;
}
.resume .section .experience .box .seemore .arrowicon {
  fill: #df7373;
}
.resume .section .experience .box .seemore .arrow {
  transform: rotate(-180deg);
}
@keyframes rotate {
  100% {
    transform: rotate(-90deg);
  }
}
.resume .section .experience .content {
  display: block;
}
.resume .section .experience .content p {
  margin: 15px 0;
}
.resume .section .experience .content a {
  color: #af9164;
  text-decoration: none;
}
.resume .section .experience .content a:hover {
  color: #df7373;
}
.resume .section .experience .content.active {
  display: block;
}

.contact {
  background: linear-gradient(to bottom, #f7f3e3, #b3b6b7);
  text-align: center;
}
.contact h1 {
  padding: 50px 0;
  font-weight: 100;
  text-align: center;
  color: #454851;
  margin: auto;
  background: url(../img/titlebg.svg) center/15% no-repeat border-box;
}
.contact img {
  width: 150px;
  margin-bottom: 50px;
}

.contactinfo {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.contactinfo a:hover .infoicon {
  transform: scale(1.5);
}
.contactinfo .infoicon {
  width: 50px;
  height: 50px;
  fill: #2b2118;
  margin: 20px;
  border-bottom: 5px solid #af9164;
  padding-bottom: 10px;
}
.contactinfo .email {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.contactinfo .email h1 {
  display: none;
}
.contactinfo .email .infoicon {
  cursor: pointer;
}
.contactinfo .email span {
  font-size: 12px;
  position: absolute;
  top: 55px;
  right: -15px;
  width: 120px;
  text-align: center;
  color: #2b2118;
}

@media screen and (max-width: 1000px) {
  .sidemenuclass {
    display: flex;
  }
  .topmenu {
    display: none;
  }
  nav {
    height: 150px;
  }
  nav img {
    width: 100px;
    margin-left: 100px;
  }
  nav .hamburger {
    display: flex;
    margin-right: 100px;
  }
  .homePage {
    min-width: 1000px;
    margin-top: 150px;
  }
  .homePage .leftBox {
    margin-right: 0;
  }
  .homePage .leftBox .introCard {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .homePage .leftBox .introCard .info {
    width: 50%;
  }
  .homePage .leftBox .introCard h1 {
    font-size: 60px;
    font-weight: 200;
    color: #2b2118;
  }
  .homePage .leftBox .introCard h3 {
    font-size: 30px;
    font-weight: 200;
    color: #2b2118;
  }
  .homePage .leftBox .introCard .icon .github,
  .homePage .leftBox .introCard .icon .linkedin {
    font-size: 70px;
  }
  .homePage .leftBox .introCard img {
    width: 300px;
    height: 300px;
    margin-left: 80px;
  }
  .homePage .rightBox {
    margin-top: 50px;
  }
  .homePage .rightBox h2 {
    text-align: center;
    color: #af9164;
  }
  .homePage .rightBox h3 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
  }
  .homePage .rightBox p {
    font-size: 28px;
    margin-top: 10px;
  }
  .portfolio {
    min-width: 1000px;
  }
  .portfolio h1 {
    font-size: 48px;
  }
  .portfolio .projects {
    width: 800px;
    height: auto;
    overflow: visible;
  }
  .portfolio .projects .project {
    width: 80%;
    background-color: transparent;
  }
  .portfolio .projects .project .info {
    width: 100%;
    height: auto;
    opacity: 1;
    position: static;
    box-shadow: none;
    flex-direction: row;
    padding: 10px 0;
    margin-top: 10px;
    background-color: transparent;
  }
  .portfolio .projects .project .info a {
    width: auto;
    margin: 0;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 400;
    background-color: #454851;
    color: #f7f3e3;
  }
  .portfolio .projects .project .info .title {
    display: none;
  }
  .portfolio .projects .project .title-mobile {
    display: block;
    margin: auto;
    font-size: 30px;
    font-weight: 200;
  }
  .resume {
    min-width: 1000px;
    height: auto;
  }
  .resume h1 {
    font-size: 48px;
  }
  .resume .section {
    width: 800px;
    height: auto;
    overflow: visible;
    font-size: 24px;
  }
  .resume .section .experience .box {
    width: 700px;
  }
  .resume .section .experience .box .content p {
    font-weight: 200;
  }
  .contact {
    min-width: 1000px;
  }
  .contact h1 {
    font-size: 48px;
  }
  .contact p {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
  }
  .contact .info .infoicon {
    width: 80px;
    height: 80px;
  }
  .contact .info .email {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .contact .info .email h1 {
    display: block;
    background: transparent;
    padding: 0;
    margin: 0;
  }
  .contact img {
    margin-top: 60px;
  }
}/*# sourceMappingURL=styles.css.map */